.header{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 80px;
    font-weight: bold;
    padding-top: 250px;
    padding-bottom: 250px;
    background-image: url(../assets/img/mtfuji.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.footer{
    bottom: 5px;
    left: 5px;
    right: 5px;
    height: 25px;
    font-size: 12px;
    color: #999999;
    text-align: center;
    padding-top: 15px;
}



